body {
	background-image: url(https://www.tumblr.com/images/theme_garden/themes_illustration_ga_dash.png);
  font-family: Impact, 'Charcoal', sans-serif;}
    #banner {
	  position: absolute;
      left: 0px;
      right: 0px;
      width: 100%;
      height: 200px;
      z-index: -1;
            }
        </style>
    </head>
    <body>
        <img id="banner" src="mybannerimage.gif" alt="Banner Image"/>
        </body>
h1{
	text-align: center;
	text-decoration-color: white;
}